*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
[class*="col-"] {
  height: 100px;
  line-height: 150px;
  border: solid 1px #000;
  text-align: center;
  background-color: coral
}

img{
  height: 500px
}
