*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
[class*="col-"] {
  text-align: center;
  margin-bottom: 8%
}



/* regole generali */

img{
  height: 200px
}

.imm-rotonde{
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

h1{
  text-align: center;
  padding: 2% 0;
}

h3{
  padding: 2% 0;
}

.container{
  background-color: #f9f9f9;
}

.row:first-child{
  background-color: white;
}

hr{
  margin: 2% 7%;
}



/* regole display xs */

[class*="col-xs"] > p{
  padding: 0 7%;
  font-size: 20px;
}

[class*="col-xs"] > h3{
  font-size: 25px;
}

[class*="col-xs"] img{
  margin: 2% 0;
}


/* regole display md */

[class*="col-md"] > p{
  font-size: 18px;
}

[class*="col-md"] > h3{
  font-size: 22px;
}
